/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 22px;
}

li {
  padding: 20px;
}

.search {
  padding: 10px;
}

.pun_img {
  border-radius: 8px;
  width: 190px;
  padding: 0px;
}

.res_card {
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 7px;
  width: 190px;
  padding: 6px;
}

.res_container {
  display: grid;
  row-gap: 23px;
  padding: 13px;
  grid-template-columns: auto auto auto auto auto auto;
}

.filter-btn {
  margin: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 8px;

  font-family: "Times New Roman", Times, serif;
}

.Shimmer-container {
  display: grid;
  row-gap: 23px;
  padding: 13px;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 40px;
}

.shimmer-cards {
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 7px;
  width: 190px;
  height: 300px;
  padding: 6px;
}
.img-box {
  height: 100px;
  width: 190px;
  background-color: #dcd9d9;
}

.content-box {
  margin-top: 30px;
  height: 20px;
  width: 160px;
  background-color: #dcd9d9;
}

.content-box2 {
  margin-top: 20px;
  height: 20px;
  width: 140px;
  background-color: #dcd9d9;
}

.btnlogin {
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
}
